
/* .cell {
    position: relative;
    box-sizing: content-box;
    
}

.cell::before {
    content: '';
    display: block;
    padding-top: 100%;
    
  }

.cell input {
    position: absolute;
    top:0; left:0;
    width: 90%;
    height: 90%;
    background-color: whitesmoke;
    text-align: center;
} */
